In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-1.1.0-py2.py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.32.4)
Collecting multitasking>=0.0.7 (from yfinance)
  Using cached multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.7-cp310-cp310-win_amd64.whl.metadata (24 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.19.0-py3-none-any.whl.metadata (7.0 kB)
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Downloading beautifulsoup4-4.14.3-py3-none-any.whl.metadata (3.8 kB)
Collecting curl_cffi<0.14,>=0.7 (from yfinance)
  Using cached curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (5.29.5)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-16.0-cp310-cp310-win_amd64.whl.metadata (7.0 kB)
Collecting cffi>=1.12.0 (from curl_cffi<0.14,>=0.7->yfinance)
  Downloading cffi-2.0.0-cp310-cp310-win_amd64.whl.metadata (2.6 kB)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.4.26)
Collecting soupsieve>=1.6.1 (from beautifulsoup4>=4.11.1->yfinance)
  Downloading soupsieve-2.8.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.0)
Collecting pycparser (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance)
  Downloading pycparser-3.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\divya sharma\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2.4.0)
Downloading yfinance-1.1.0-py2.py3-none-any.whl (129 kB)
Using cached curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
Downloading beautifulsoup4-4.14.3-py3-none-any.whl (107 kB)
Downloading cffi-2.0.0-cp310-cp310-win_amd64.whl (182 kB)
Downloading frozendict-2.4.7-cp310-cp310-win_amd64.whl (37 kB)
Downloading peewee-3.19.0-py3-none-any.whl (411 kB)
Downloading soupsieve-2.8.3-py3-none-any.whl (37 kB)
Downloading websockets-16.0-cp310-cp310-win_amd64.whl (178 kB)
Downloading pycparser-3.0-py3-none-any.whl (48 kB)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15616 sha256=e91342f26e20c7bf6fdf1cee88a24fd1572d153cfa7e6616b31f5e3e789cb3a6
  Stored in directory: c:\users\divya sharma\appdata\local\pip\cache\wheels\e9\25\85\25d2e1cfc0ece64b930b16972f7e4cc3599c43b531f1eba06d
Successfully built multitasking
Installing collected packages: peewee, multitasking, websockets, soupsieve, pycparser, frozendict, cffi, beautifulsoup4, curl_cffi, yfinance

   ----------------------------------------  0/10 [peewee]
   -------- -------------------------------  2/10 [websockets]
   ------------ ---------------------------  3/10 [soupsieve]
   ------------------------ ---------------  6/10 [cffi]
   -------------------------------- -------  8/10 [curl_cffi]
   ------------------------------------ ---  9/10 [yfinance]
   ---------------------------------------- 10/10 [yfinance]

Successfully installed beautifulsoup4-4.14.3 cffi-2.0.0 curl_cffi-0.13.0 frozendict-2.4.7 multitasking-0.0.12 peewee-3.19.0 pycparser-3.0 soupsieve-2.8.3 websockets-16.0 yfinance-1.1.0

  DEPRECATION: Building 'multitasking' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'multitasking'. Discussion can be found at https://github.com/pypa/pip/issues/6334

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import yfinance as yf

In [52]:
stock = yf.download("AAPL", start="2018-01-01", end="2024-01-01")
stock.reset_index(inplace=True)
stock.head()

[*********************100%***********************]  1 of 1 completed

Price        Date      Close       High        Low       Open     Volume
Ticker                  AAPL       AAPL       AAPL       AAPL       AAPL
0      2018-01-02  40.341888  40.351258  39.639313  39.850088  102223600
1      2018-01-03  40.334866  40.878192  40.271636  40.405124  118071600
2      2018-01-04  40.522205  40.625250  40.299724  40.407450   89738400
3      2018-01-05  40.983566  41.070216  40.526893  40.618228   94640000
4      2018-01-08  40.831352  41.126433  40.732989  40.831352   82271200

In [53]:
stock.shape

(1509, 6)

In [54]:
import json
import pandas as pd

with open("polygon_news_sample.json", "r", encoding="utf-8") as f:
    data = json.load(f)

type(data)

list

In [55]:
data[0]

{'article_url': 'https://www.zacks.com/stock/news/2114673/allegiant-travel-algt-is-attractively-priced-despite-fast-paced-momentum',
 'author': 'Zacks.com',
 'description': 'Allegiant Travel (ALGT) is a fast-moving stock with strong momentum, trading at a reasonable valuation. The article suggests that ALGT is a good investment opportunity due to its recent price increase, positive earnings estimate revisions, and attractive valuation.',
 'id': 'db221630f08d9064b6539534cc9957ecd7ba2a626927c73dc36c5354e2f0ff39',
 'image_url': 'https://staticx-tuner.zacks.com/images/default_article_images/default224.jpg',
 'amp_url': None,
 'keywords': ['Allegiant Travel',
  'momentum investing',
  'fast-paced momentum',
  'bargain stocks',
  'valuation'],
 'published_utc': '2023-06-29T12:50:06Z',
 'publisher': {'name': 'Zacks Investment Research',
  'homepage_url': 'https://www.zacks.com/'},
 'tickers': ['ALGT'],
 'insights': [{'ticker': 'ALGT',
   'sentiment': 'positive',
   'sentiment_reasoning': "The article highlights Allegiant Travel's fast-paced momentum, positive earnings estimate revisions, and attractive valuation, suggesting it is a good investment opportunity."}],
 'title': 'Allegiant Travel (ALGT) Is Attractively Priced Despite Fast-paced Momentum'}

In [56]:
aapl_articles = []

for item in data:
    if "AAPL" in item.get("tickers", []):
        aapl_articles.append(item)

len(aapl_articles)

98

In [57]:
news_list = []

for one_article in data:
    tickers_list = one_article["tickers"]
    
    if "AAPL" in tickers_list:
        article_title = one_article["title"]
        article_date = one_article["published_utc"]
        
        insight_list = one_article["insights"]
        
        if len(insight_list) > 0:
            article_sentiment = insight_list[0]["sentiment"]
        else:
            article_sentiment = None
        
        row_data = {
            "Date": article_date,
            "Headline": article_title,
            "Sentiment": article_sentiment
        }
        
        news_list.append(row_data)

news_df = pd.DataFrame(news_list)

news_df.head()

,Date,Headline,Sentiment
0,2023-01-22T14:48:00Z,This Oil Stock Is Beating Apple at Its Own Game,positive
1,2023-08-09T09:15:00Z,"1 Green Flag for Apple in 2023, and 1 Red Flag",positive
2,2023-11-05T15:31:00Z,Qualcomm Signals It's Returning to Growth -- I...,positive
3,2023-05-08T08:51:04Z,Could Warren Buffett Finally Make A Bet On Tes...,neutral
4,2023-05-23T17:37:00Z,The AI Chase: Is Narrow Market Cause for Concern?,neutral

In [58]:
news_df["Date"] = pd.to_datetime(news_df["Date"])

news_df["Sentiment"] = news_df["Sentiment"].map({
    "positive": 1,
    "neutral": 0,
    "negative": -1
})

news_df = news_df.dropna()

news_df.head()

,Date,Headline,Sentiment
0,2023-01-22 14:48:00+00:00,This Oil Stock Is Beating Apple at Its Own Game,1
1,2023-08-09 09:15:00+00:00,"1 Green Flag for Apple in 2023, and 1 Red Flag",1
2,2023-11-05 15:31:00+00:00,Qualcomm Signals It's Returning to Growth -- I...,1
3,2023-05-08 08:51:04+00:00,Could Warren Buffett Finally Make A Bet On Tes...,0
4,2023-05-23 17:37:00+00:00,The AI Chase: Is Narrow Market Cause for Concern?,0

In [59]:
daily_sentiment = news_df.groupby(news_df["Date"].dt.date)["Sentiment"].mean().reset_index()
daily_sentiment.columns = ["Date", "Avg_Sentiment"]

daily_sentiment.head()

         Date  Avg_Sentiment
0  2023-01-03            1.0
1  2023-01-06            1.0
2  2023-01-10           -0.5
3  2023-01-11            1.0
4  2023-01-12           -1.0

In [60]:
stock["Date"] = pd.to_datetime(stock["Date"]).dt.date

In [61]:
stock.columns = stock.columns.get_level_values(0)
stock.head()

Price        Date      Close       High        Low       Open     Volume
0      2018-01-02  40.341888  40.351258  39.639313  39.850088  102223600
1      2018-01-03  40.334866  40.878192  40.271636  40.405124  118071600
2      2018-01-04  40.522205  40.625250  40.299724  40.407450   89738400
3      2018-01-05  40.983566  41.070216  40.526893  40.618228   94640000
4      2018-01-08  40.831352  41.126433  40.732989  40.831352   82271200

In [62]:
stock["Date"] = pd.to_datetime(stock["Date"]).dt.date

In [63]:
df = pd.merge(stock, daily_sentiment, on="Date", how="inner")
df.head()

,Date,Close,High,Low,Open,Volume,Avg_Sentiment
0,2023-01-03,123.211205,128.954553,122.324579,128.343772,112117500,1.0
1,2023-01-06,127.693573,128.353614,123.033875,124.137232,87754700,1.0
2,2023-01-10,128.787064,129.309185,126.215853,128.324048,63896200,-0.5
3,2023-01-11,131.506058,131.525750,128.521091,129.299344,69458900,1.0
4,2023-01-12,131.427261,132.264620,129.486538,131.890277,71379600,-1.0

In [64]:
df.shape

(71, 7)

In [65]:
df["Return"] = df["Close"].pct_change()
df["Target"] = (df["Return"] > 0).astype(int)
df = df.dropna()

df[["Date", "Close", "Return", "Target"]].head()

         Date       Close    Return  Target
1  2023-01-06  127.693573  0.036380       1
2  2023-01-10  128.787064  0.008563       1
3  2023-01-11  131.506058  0.021112       1
4  2023-01-12  131.427261 -0.000599       0
5  2023-01-13  132.757156  0.010119       1

In [66]:
features = ["Open", "High", "Low", "Close", "Volume", "Avg_Sentiment"]
X = df[features]
y = df["Target"]

In [67]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [68]:
split = int(len(df) * 0.8)

X_train = X_scaled[:split]
X_test = X_scaled[split:]

y_train = y[:split]
y_test = y[split:]

len(X_train), len(X_test)

(56, 14)

In [69]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)

lr_preds = lr.predict(X_test)

In [70]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

rf_preds = rf.predict(X_test)

In [71]:
from xgboost import XGBClassifier

xgb = XGBClassifier(eval_metric="logloss")
xgb.fit(X_train, y_train)

xgb_preds = xgb.predict(X_test)

In [72]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate(y_true, y_pred):
    return {
        "Accuracy": accuracy_score(y_true, y_pred),
        "Precision": precision_score(y_true, y_pred),
        "Recall": recall_score(y_true, y_pred),
        "F1": f1_score(y_true, y_pred)
    }

lr_metrics = evaluate(y_test, lr_preds)
rf_metrics = evaluate(y_test, rf_preds)
xgb_metrics = evaluate(y_test, xgb_preds)

results = pd.DataFrame(
    [lr_metrics, rf_metrics, xgb_metrics],
    index=["Logistic Regression", "Random Forest", "XGBoost"]
)

results

C:\Users\Divya Sharma\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

                     Accuracy  Precision    Recall        F1
Logistic Regression  0.357143   0.000000  0.000000  0.000000
Random Forest        0.571429   0.714286  0.555556  0.625000
XGBoost              0.642857   0.750000  0.666667  0.705882